/*!
 * Preboot v2
 * LESS version by @mdo, http://getpreboot.com
 *
 * Open sourced under MIT license by @mustangostang.
 * Some variables and mixins from Bootstrap (Apache 2 license).
 */


//
// Typography
// --------------------------------------------------
$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          12px;
$font-size-large:         $font-size-base * 1.25; // ~15px

$line-height-base:        1.4;

$headings-font-family:    inherit; // empty to use BS default, @font-family-base
$headings-font-weight:    700;

h1, h2, h3, h4,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.4;
	font-weight: 400;
}

@mixin h1(){
	font-size: 28px;
}

@mixin h2(){
	font-size: 24px;
}

@mixin h3(){
	font-size: 20px;
}

@mixin h4(){
	font-size: 18px;
}

@mixin h5(){
	font-size: 14px;
}

h1 {
	@include h1();
}

h2 {
	@include h2();
}

h3 {
	@include h3();
}

h4 {
	@include h4();
}

h5 {
	@include h5();
}